acme==1.4.0
amqp==5.2.0
arabic-reshaper==3.0.0
arrow==1.2.3
art==6.1
asgiref==3.6.0
asn1crypto==1.5.1
authy==2.2.6
beautifulsoup4==4.9.0
billiard==4.2.0
binaryornot==0.4.4
boto3==1.34.84
botocore==1.34.84
bs4==0.0.1
celery==5.3.6
certifi==2022.12.7
cffi==1.14.0
cfscrape==2.1.1
chardet==5.1.0
charset-normalizer==3.0.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
comtypes==1.4.1
ConfigArgParse==1.2.3
configobj==5.0.6
cookiecutter==2.1.1
cryptography==42.0.5
cssselect2==0.7.0
defusedxml==0.7.1
distlib==0.3.8
distro==1.5.0
dj-database-url==0.5.0
Django==4.1.4
django-allauth==0.47.0
django-appconf==1.0.5
django-bootstrap4==3.0.1
django-browser-reload==1.6.0
django-celery-beat==2.2.1
django-ckeditor==6.5.1
django-cleanup==8.1.0
django-cors-headers==3.8.0
django-crispy-forms==1.11.0
django-crum==0.7.9
django-debug-toolbar==2.2
django-endless-pagination==2.0
django-extensions==2.1.6
django-filter==21.1
django-formset-js-improved==0.5.0.2
django-heroku==0.3.1
django-jquery-js==3.1.1
django-js-asset==2.0.0
django-model-utils==3.1.2
django-notifications-hq==1.5.0
django-static-fontawesome==5.14.0.0
django-storages==1.7.1
django-tailwind==3.4.0
django-timezone-field==4.2.3
django-tinymce==3.5.0
django-unused-media==0.1.13
djangorestframework==3.12.4
docutils==0.16
et_xmlfile==1.0.1
filelock==3.13.1
gTTS==2.5.1
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.8.1
html5lib==1.1
hyperframe==5.2.0
idna==3.4
imagesize==1.2.0
itsdangerous==1.1.0
jdcal==1.4
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==0.9.4
josepy==1.3.0
jsonfield==2.0.2
kombu==5.3.5
lxml==5.1.0
MarkupSafe==2.1.1
notifications==0.3.2
oauthlib==3.2.2
openpyxl==2.6.1
oscrypto==1.3.0
parsedatetime==2.5
Pillow==9.4.0
platformdirs==4.2.0
playsound==1.2.2
prompt-toolkit==3.0.43
psycopg2==2.9.5
psycopg2-binary==2.8.5
pycparser==2.20
pyHanko==0.23.2
pyhanko-certvalidator==0.26.3
PyJWT==2.8.0
pyOpenSSL==19.1.0
pypdf==4.1.0
pypiwin32==223
pypng==0.20220715.0
pyRFC3339==1.1
python-bidi==0.4.2
python-crontab==3.0.0
python-dateutil==2.8.2
python-slugify==7.0.0
python3-openid==3.2.0
pyttsx3==2.90
pytz==2020.1
pywin32==306
PyYAML==6.0
qrcode==7.4.2
reportlab==4.0.9
requests==2.28.2
requests-oauthlib==1.4.0
requests-toolbelt==0.9.1
s3transfer==0.10.1
six==1.16.0
soupsieve==2.0
sqlparse==0.4.3
svglib==1.5.1
termcolor==2.4.0
terminaltables==3.1.10
text-unidecode==1.3
tinycss2==1.2.1
tqdm==4.66.2
typing_extensions==4.10.0
tzdata==2022.7
tzlocal==5.2
uritools==4.0.2
urllib3==1.26.14
vine==5.1.0
virtualenv==20.25.1
wcwidth==0.2.13
webencodings==0.5.1
whitenoise==6.3.0
xhtml2pdf==0.2.15
